{
    "arrowParens": "avoid",
    "semi": false,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "printWidth": 135,
    "vueIndentScriptAndStyle": false,
    "singleQuote": true,
    "trailingComma": "all",
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "strict",
    "tabWidth": 4,
    "endOfLine": "auto"
}
